.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 14px;
  padding: 20px;
  max-height: 300px;
  overflow: auto;
}
.icon {
  padding: 4px 0;
  cursor: pointer;
  display: flex;
}
.icon svg {
  font-size: 20px;
  margin: auto 0;
}
.icon > div {
  width: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
}
.icon > span {
  padding-left: 4px;
  margin: auto 0;
}

@media (max-width: 900px) {
  .App {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .App {
    grid-template-columns: 1fr 1fr;
  }
}
